$red_base : #8C0017;
$white_base: #ddffdd;
$gray_base: #f2f2f0;
$green_base:#42b983;
$green: #00585C;
$gray_night_base: #4a4a4b;

::selection{
    color: $gray_base;
    background-color:$green_base;
}
body{
    background-color: $gray_night_base;
    background-image: url(../fondo.jpg);
    font-family: 'Roboto';
    background-blend-mode: multiply;
    background-repeat: repeat;
    cursor: default;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif;
}
#header{
    margin-bottom: 3em;
    color: $white_base;
}
.glyphicon{
    margin-right: 10px;
}
.title-note{
    font-size: 2em;
    color: $white_base;
}
.form .form-group input{
    margin-bottom: 1em;
}
.label{
    font-size: 0.8em;
    padding: .4em .7em;
}
