$red_base : #D27459;
$white_base: #ddffdd;
$gray_base: #f2f2f0;
$black_base: #000000;
$green_base:#42b983;

::selection{
    color: $gray_base;
    background-color:$green_base;
}
body{
    background-color: $red_base;
    cursor: default;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif;
}
#header{
    margin-bottom: 3em;
    color: $white_base;
}
.glyphicon{
    margin-right: 10px;
}
.title-note{
    font-size: 2em;
    color: $white_base;
}
.form .form-group input{
    margin-bottom: 1em;
}
.label{
    font-size: 0.8em;
    padding: .4em .7em;

}
